.sent {
  width: fit-content;
  height: fit-content;
  max-width: 400px;
  min-height: 30px;
  border-radius: 10px;
  overflow: auto;
  padding: 5px;
  background-color: var(--button-color);
  font-weight: 400;
  align-self: flex-end;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}
.received {
  width: fit-content;
  height: fit-content;
  min-height: 30px;
  max-width: 400px;
  /* margin-right: auto; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* margin-left: 10px; */
  padding: 5px;
  background-color: var(--button-color);
  font-weight: 400;
  border-radius: 10px;
  /* margin: 2px; */
  margin-bottom: 3px;
  align-self: flex-start;
}
.message-area {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-header {
  background-color: var(--button-color);
  padding: 0px 20px;
  min-height: 50px;
  margin-bottom: 5px;
  font-size: larger;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.back-button {
  justify-self: flex-start;
}
.chat-header-text {
  justify-self: center;
}
.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 3px;
}
.chat-list {
  width: 100%;
  padding: 0 20px;
  overflow: auto;
}

.message-time {
  height: fit-content;
  /* background-color: var(--body-bg-color); */
  font-size: 11px;
  align-self: flex-end;
}
/* .sent .message-time {
  align-self: flex-end;
}
.received .message-time {
  align-self: flex-start;
} */

.mail-textarea {
  position: sticky;
  bottom: 0;
  right: 0;
  max-height: 80px;
}
.message-name {
  align-self: flex-start;

  height: fit-content;
  /* background-color: var(--body-bg-color); */
  font-size: 11px;
}
.chat-item {
  height: fit-content;
  min-height: 50px;
  display: flex;
  padding: 0 20px;
  font-weight: 400;
  border: 1.5px solid var(--body-bg-color);
  padding: 15px;
  background-color: var(--theme-bg-color);
}
.chat-item i {
  color: var(--button-color);
  margin: 10px;
  align-self: center;
  justify-self: center;
}

.chat-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
